<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Action">
        <h1 align="center">Action</h1>
        <h3>  One of the earliest film genres, the action genre, has close ties to classic strife and struggle narratives that you find across all manner of art and literature. With some of the earliest examples dating back to everything from historical war epics to some basic portrayals of dastardly train robberies, action films have been popular with cinema audiences since the very beginning.

            It is also one of our best examples of the evolution of our cinematic hero’s journey and the classic hero vs. villain narratives, which you’ll find across all genres.
            
            Some of the main sub-genres include the following:
            
            War and military action
            Spy and espionage action
            Martial arts action
            Western shoot em up action
            Action hybrid genres
            
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>