<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Animation">
        <h1 align="center">Animation</h1>
        <h3>Animation is a collection of different methods that films can be animated, rather than a genre or medium. The “Live-action scripted” genre can also be represented in an animated version. Many cinema critics and streaming providers refer to these categories as “genres”. The following are some of its subgenres: Typical animation, Animated show, Imagery created by computer, Motion halting genre etc.
            1. Traditional Animation
Traditional animation can also be referred to as cell animation. This type of animation requires the animator to draw every single frame by hand to create an animated scene. This is usually done on a light table that allows the artists to see the previous drawing through the top layer of paper. 
2D Animation
2D animation refers to vector-based animations similar to the ones used in Flash. This style of animation has been growing in popularity because the technology is so accessible. Although artists have the option of editing frame by frame, vector-based animation gives the artist the option to create rigs for the characters and move single body parts at a time rather than constantly redrawing the characters. It gives more flexibility to beginners in animation because they don’t have to rely so heavily on drawing skills.
3D Animation
3D animation is also known as computer animation and it is currently the most commonly used form of animation. The process of 3D animation is very different from the traditional style but they both require the artist to share the same principles of movement and composition in animation. 3D animation has less to do with drawing and more to do with moving a character in a program.
</h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>