<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apocalypse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Apocalypse">
        <h1 align="center">Apocalypse</h1>
        <h3>The apocalypse film is another popular genre. On the surface, these movies are simply about the end of the world. Typically, there’s a natural disaster (or several), a looming astronomical threat, a rampaging monster, or a nuclear holocaust taking center stage. Surviving the deluge of special effects is the name of the game, and the budgets for these blockbusters are usually huge.

            However, there’s more nuance to this seemingly destructive genre than you might think. The apocalypse is usually a metaphor of some kind. It divides families, it rolls back social progress, it reveals the fragility of human life—there are any number of things the apocalypse can be doing that we usually attribute to something else, like broken marriages, politics, or famine.
            
            The most popular apocalypse films use this metaphor to their advantage, and we get to watch the protagonists overcome not only the pending global threat, but the threats to their home, family, and personal lives that they had been ignoring.
            
            There are several sub-genres of the apocalypse film:
            
            Monster apocalypse
            Zombie apocalypse
            Invasion apocalypse
            Natural disaster
            Nuclear apocalypse
           </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>