<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Comedy">
        <h1 align="center">Comedy</h1>
        <h3> A favorite genre of film audiences young and old since the very beginning of cinema, the comedy genre has been a fun-loving, sophisticated, and innovative genre that’s delighted viewers. Some of the biggest names in the history of filmmaking include comedy genre pioneers—like Buster Keaton, Charlie Chaplin, and Lucille Ball—who made successful careers out of finding new and unique ways to make audiences laugh.

            The comedy genre has also been one of the most flexible, as its roots have made their way into the very fabric of cinema and its many other genres. The art of warming a heart and bringing a smile to a viewer’s face will never get old, nor should we consider it anything but truly powerful.
            
            Some of the main sub-genres include the following:
            
            Slapstick comedy
            Screwball comedy
            Parody comedy
            Black comedy
            
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>