<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Drama">
        <h1 align="center">Drama</h1>
        <h3>Drama is a style of storytelling or semi-fiction that is intended to be more serious in tone than entertaining, with an emphasis on the in-depth characterization of realistic characters who must deal with real emotional concerns. It can be found in film, television, and radio. The following are some of its subgenres: Docudrama, Legal saga, Dramatic medical drama, Melodrama, Drama about the military, Dramatic psychological drama Dramatic political drama genre etc.
            What are the characteristics of a drama film?
            Drama film is a genre that relies on the emotional and relational development of realistic characters. While Drama film relies heavily on this kind of development, dramatic themes play a large role in the plot as well. Often, these dramatic themes are taken from intense, real life issues
            Comedy.
            Farce.
            Tragedy.
            Tragi-Comedy.
            Melodrama.
            Opera.
            Musical.
        </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>