<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Horror">
        <h1 align="center">Horror</h1>
        <h3>While the horror genre is sometimes considered a younger film genre, elements of horror have long been a bedrock of classic cinema, dating back to some of the earliest—and eeriest—days of filmmaking.

            Examples like 1898’s Shinin No Sosei (Resurrection of a Corpse) come to mind, as well as several early horror iterations across the globe that captured the imagination of an audience hungry for creepy, occult fun. Taking cues from classic horror literature, big name horror franchises (of sorts) like Dracula and Frankenstein have existed within cinema for decades.
            
            However, it’s in the rise of newer horror genres featuring zombies, slashers, found footage, and haunted dolls that horror has really found its hold, from the 1970s into modern times.
            
            Some of the main sub-genres include:
            
            Zombie horror
            Folk horror
            Body Horror
            Found footage Horror
           
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>