<!DOCTYPE html>
<html lang="en">
<head>
    <title>Romance</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Romance">
        <h1 align="center">Romance</h1>
        <h3>Ah, what would the great cinema tradition be if it weren’t for the countless stories of love and courtship. Since the advent of the movie theater experience, cinema has long been a favored pastime for couples looking to escape into a world of romance.

            Similar to the action and comedy genres, the romance genre has become a central force in pretty much every other film genre under the sun. (Try to think of the last mainstream blockbuster you went to that didn’t have a love story at its core.) Still, even as early cinema was filled with classic romance examples and many hybridizations like the “rom-com,” the genre has certainly shifted over the years. Nonetheless, it remains a hugely significant genre for filmmakers and film fans alike.
            
            Some of the main sub-genres include:
            
            Historical Romance
            Romantic Drama
            Romantic Comedy
            Chick Flick
            Paranormal Romance
            
            
           
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>