<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science fiction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Science fiction">
        <h1 align="center">Science fiction</h1>
        <h3>Science fiction is one of the most innovative of the cinematic super-genres. As far back as the Renaissance and the Enlightenment period, the development of what we call science today began influencing art and culture. It took it a while to fully integrate, and by the time the cinematic arts rolled around, audiences everywhere were ready to add “science fiction” to the types of genres they wanted to see.

            Science fiction films are ostensibly about the future, when we’ve developed the technology to travel between stars, travel back in time, or pull off other technological marvels.
            
            Of course, though, that notion is just an affectation. Science fiction stories take the social, cultural, political, and technological issues that we’re facing today and project them into a fictional future, where we can get a good look at them. Fear, awe, excitement, and hope are all hallmarks of the science fiction genre, which does a great job of showing its audiences what they aren’t noticing about their lives right now.
            
            There are many sub-genres of science fiction, including the following:
            
            Science fantasy
            Cyberpunk
            Space Opera
          
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>