<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <style>
    body{
      background-color:rgb(72, 161, 206);
      padding: 30px 30px; 
      border-radius: 7px;
    }
    .Signup {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    width: 300px;
    border: 5px solid rgb(121, 121, 159);
    padding: 50px;
    margin: 20px;
    color: rgb(28, 81, 215);
    background-color:rgb(206, 119, 192);
    text-align: center;
    font-size: 20px;
    font-style: italic;
    }
    .col{
      padding: 15px 32px;
    }
    .left {
    display: block;
    margin-left:15px;
    margin-right:50px;
    width: 30;
    height: 70;
}
  </style>
  <body>
    <h1 align="center">MOVIES</h1>
      <br>
     <h2> <p><b><marquee>Check for your favourite genre!!</b></marquee></p></h2>
      <center>
    <form action="sign-up" method="GET" >
      <div class="row">
        <h1 align="center">Signup</h1>
        <div class="vl">
          <span class="vl-innertext"></span>
        </div>
        <div class="Signup">
          <div class="col">
            <label><b>First Name</b></label><br>
            <input type="text" placeholder="Enter First Name" name="Firstname" /><br><br>
            <label><b>Last Name</b></label><br>
            <input type="text" placeholder="Enter Last Name" name="Lastname" /><br><br>
            <label><b>Email</b></label><br>
            <input type="email" placeholder="Enter Email" name="email"/><br><br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" /><br><br>
            <label><b>Phone Number</b></label><br>
            <input type="number" placeholder="Enter Number" name="number" /><br><br>
            <br>
            <br><br>
            <input type="submit" class="button" value="submit" /><br><br>
            <button type="cancel" onclick="javascript:window.location='http://stackoverflow.com';">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </center>
  </body>
</html>