<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thriller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Thriller">
        <h1 align="center">Thriller</h1>
        <h3>Once a stylized niche genre, the thriller film has gone so mainstream that it might be time to change the genre’s name to Summer Blockbuster Event.

            The thriller’s rise coincides with the rise of the spy and detective pulp novels of the 1960s and 1970s. It’s been one of the best cinematic vehicles for exploring the sometimes upsetting and underrepresented truths about our governments and society at large. Owing some of its biggest successes to famous filmmakers like Alfred Hitchcock, and including some of our favorite characters like James Bond, the thriller has become a popular and important part of the cinema tradition.
            
            Some of the main sub-genres include:
            
            Conspiracy Thriller
            Crime Thriller
            Legal Thriller
            Spy Thriller
            Supernatural Thriller
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>